@model IEnumerable<EfCore1C.Models.Yazar>

@{
    ViewData["Title"] = "Index";
    string mesaj="";
    if (TempData["msj"] is not null)
    {
         mesaj = TempData["msj"].ToString();

    }

}

<h>@mesaj</h>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.YazarAd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YazarSoyad)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.YazarAd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YazarSoyad)
            </td>
            <td>
                <a asp-action="YazarDuzenle" asp-route-id="@item.YazarID">Düzenle</a> |
                <a asp-action="YazarDetay" asp-route-id="@item.YazarID">Ayrıntılar</a> |
                <a asp-action="YazarSil" asp-route-id="@item.YazarID">Sil</a>
            </td>
        </tr>
}
    </tbody>
</table>
