@model EfCore1C.Models.Yazar

@{
    ViewData["Title"] = "YazarDetay";
}



<div>
    <h4>Yazar Detay</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YazarAd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YazarAd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YazarSoyad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YazarSoyad)
        </dd>
    </dl>
</div>
@if (Model.Kitap.Count > 0)
{
    <h4>Yazara ait Kitaplar Listeleniyor</h4>
<ol>
    @foreach (var ktp in Model.Kitap)
    {
        <li>@ktp.KitapAd</li>
    }



</ol>
    }
    else
    {
        @:Yazara ait kitap yok
    }
<div>
    <a asp-action="YazarDuzenle" asp-route-id="@Model.YazarID">Düzenle</a> |
    <a asp-action="Index">Yazarlar</a>
</div>
